<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.cmn.http.persistence.mapper.lmmdev11.Lmmdev11AdminMapper">
    <select id="selectAdmin" resultType="com.project.cmn.http.persistence.model.lmmdev11.Lmmdev11AdminModel">
        /* lmmdev11.mapper.AdminMapper.selectAdmin */
        SELECT ADMIN_NO
             , BRANCH_ID
             , ADMIN_ID
             , PASSWD
             , ADMIN_NM
             , HP_NUM
             , ADMIN_ROLE_ID
             , LAST_LOGIN_DT
             , PWD_INIT_YN
             , PWD_MOD_DT
             , LOGIN_FAIL_CNT
             , LOGIN_FAIL_DT
             , IS_VALID
             , REG_DT
             , REG_ID
             , MOD_DT
             , MOD_ID
        FROM DL_ADMIN
        WHERE ADMIN_ID = #{adminId}
    </select>
</mapper>
